.DS_Store
xcuserdata/
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Local-only implementation planning docs
/planning/
